
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  min-width: 320px;
  width: 100%;
  background-color:#F7F7F7;
}
#header {
  box-shadow: -1px 3px 6px 0px rgba(217,213,213,0.75);
-webkit-box-shadow: -1px 3px 6px 0px rgba(217,213,213,0.75);
-moz-box-shadow: -1px 3px 6px 0px rgba(217,213,213,0.75);
 
  margin: 0;
  color: #98433B;
  height: 50px;
  background-color:#ffffff;
  align-items: center;
  padding-left: 50px;
  padding-right: 30px;
  align-content: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}
h3,h1,h2,h4,h5{
  margin: 0;
}

.icon {
  width: 15px;
  height: 15px;
  align-self: center;
  margin-left: 50px;
}
#account{
  gap: 5px;
  display: flex;
  align-content: center;
}
#account-icon{
  width: 25px;
  height: 25px;
}
.logo{
  display: flex;
}
#menu {
  
  width: 25%;
  height: 85vh;
  background-color: white ;
}
#menu p{
  padding-left: 20px;
}
ul{
  padding: 0px;
}
#menu ul li{
  width: 91%;
  margin-top: 30px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
}
.list-icon{
  width: 13px;
  margin-right: 10px;

}
li:hover{
  background-color: #8a8585;
  border-left: 10px solid #98433B;
}
li:focus {
  background-color: #504f4f;
  border-left: 10px solid #98433B;
}
#down-arrow{
  width: 15px;
  cursor: pointer;
}
.aside{
  width: 72%;
  height: 80vh;
}
#menu-aside{
  display: flex;
  margin-top: 10px;
  margin-left: 5px;
  gap: 20px;
}
.link{
  text-decoration: none;
}
.link:active {
  background-color: green;
}
 .drop {
  background-color: white;
  padding-left: 0px;
  padding: 15px;
  margin: 3px;
  width: 100%;
  border-radius: 7px;
  }

.drop-down{
  text-align: start;
  width: 150px;
  position: absolute;
  left: 1180px;
 
}
.hideen {
  display: none;
}
#notification {
  position: absolute;
  left: 185px;
  top: 54px;
  background-color: white;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: auto;
  width: 300px;
  border-radius: 7px;
}
#noti{
  cursor: pointer;
}


/* SETTING COMPONENT STYLING*/
.settings-container{
  width: 100%;
  padding: 20px;
}

.setting-header{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-right: 20px;
  align-content: center;
}
.general-settings{
  width: 90%;
  padding: 25px;
  height: 400px;
  background-color: white;
}
.setting-form{
  margin-top: 30px;
  display: grid;
  grid-template-columns:  1fr 1fr ;
  grid-template-rows: auto, auto, auto, auto;
  column-gap: 20px;
  row-gap: 10px;

}
input{
  height: 30px;
  width: 95%;
  padding-left: 15px;
  color: #8a8585;
}
.danger {
  color: red;
}
form p {
  font-size: 12px;
}
#setting-submit {
  width: 100px;
  height: 30px;
  color: white;
  background-color: rgb(121, 43, 43);
  border: none;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 5px;
  cursor: pointer;
}
.inside{
  display: flex;
  margin: 0px;
}

/* Support Stylinng */
.section{
  font-size: 14px;
  background-color: #ffffff;
  padding: 25px;
  width: 92%;
  margin-bottom: 20px;
}
.section-c{
  border: 1px solid #fceeee;
  padding: 15px;
}
.fade{
  color: #8d8181;
}
.bold{
  color: black;
  font-weight: 600;
}
button {
  border: none;
  border-radius: 7px;
  padding: 10px 15px;
}
#btn-telegram {
  color: white;
  background-color: rgb(145, 145, 250);
}

/* Footer Styling*/
.footer{
  display: flex;
  font-size: 10px;
  margin-top: auto;
  border-top: 1px solid #fceeee;
  width: 100%;
  justify-content: center;
}
.red {
  color: #bb4035;
}



/*Strategy Styling */
#section-s{
  font-size: 16px;
  background-color: #ffffff;
  padding: 25px;
  width: 35%;
  margin-bottom: 20px;
}
#strategy-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    border: 2px dashed #bb4035;
    padding: 50px;
    font-size: 13px;
}
#strategy-container p{
  margin-top: 5px;
  margin-bottom: 5px;
}
.solid{
  font-size: 8px;
}
#plus-design{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #bb4035;
}